/* 
    Document   : barcode
    Created on : May 29, 2013, 2:10:17 AM
    Author     : Saptarshi
    Description:
        Purpose of the stylesheet follows.
*/


root { 
    display: block;
}

#html, body {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width:980px;
  height: 100%;
  margin: auto;
} 

table {
    border: 2px solid black
}

td, tr {
    border: 0
}

#ageDiv,#dobDiv {
    margin-left: 75px
}